@charset "UTF-8";
* { box-sizing: border-box; }
body, div, p, h1, h2, h3, h4, h5, ul, img {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    color: #222222;
}

ul { list-style: none; }

a {
    color: #222222!important;
}

a:hover {
    color: #222222 !important;
    text-decoration: none !important;
}

.shadow { box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.2); }
.bold {font-weight: bold;}
.gray {color: #9F9F9F;}


nav {
    height: 60px;
    background-color: #fff;
}

.m-nav, .m-nav-bottom {
    display: none;
}



.brand {
    padding: 10px 20px;
    transition: 0.3s;
}

.brand:hover {
    background: #FABB5A;
}

.link-animation {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    text-decoration: none !important;
}

.link-animation::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #FABB5A;
    transition: 0.3s;
    transform: scale(0, 1);
}

.link-animation:hover:before {
    transform: scale(1);
    translate: rgba(255,255,255,.75)
}

.hero {
    position: relative;
    top: 60px;
}

.right-top {
    position: relative;
}

.right-top img{
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
}

.left-bottom img {
    z-index: -1;
    position: relative;
    width: 15%;
}

.flex {
    display: flex;
}

.top-view {
    position: relative;
    top: 150px;
}

.pic-girl {
    width: 50%;
    z-index: 5;
}

.pic-girl img {
    width: 100%;
}
.intro {
    padding: 50px 10px 50px 90px;
    width: 50%;
    z-index: 5;
}

.top-title {
    margin-bottom: 20px;
}

.top-title h1 {
    font-size: 2.75rem !important;
}

.subtitle p {
    color: #9F9F9F;
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 30px;
}

.link-button {
    padding: 20px 40px;
    border-radius: 50px !important;
    border-color: #FABB5A;
    background: #FABB5A;
}

.link-button:hover {
    opacity: 0.8;
}

/* About */
#about {
    display: flex;
    width: 80%;
    margin: 0 auto 30px;
    padding: 80px;
    border-radius: 10px;
    justify-content: space-between;
    background: #fff;
}

.l-d {
    width: 35%;
}

.l-d img {
    width: 100%;
}

.r-d {
    width: 60%;
}

.middle-right {
    position: relative;
}

.middle-right img{
    z-index: -1;
    position: absolute;
    width: 50%;
    right: 0;
}

/* Works */
#works {
    margin: 150px auto;
    padding: 0 50px;
}
.title {
    text-align: center;
    margin: 20px 0;
}

.square-items {
    display: flex;
    flex-flow: row wrap;
}
.sq-item {
    width: 30%;
    height: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: 1.6%;
}

.sq-item img {
    width: 100%;
}

.hover-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(19, 47, 99, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.hover-mask:hover {
    opacity: 1;
    transition: all 0.6s ease;
    padding-top: 30px;
}

.hover-mask h3,
.hover-mask p {
    color: #fff;
    align-self: center;
    margin-bottom: .5rem;
}

.hover-mask h3{
    font-size: 22px;
    margin-bottom: 1.5rem;
}

#contact {
    text-align: center;
    padding-bottom: 30px;
}


.email {
    font-size: 30px;
}

.sns a img{
    width: 50px;
    margin: 10px;
}

.bottom-right {
    position: relative;
}
.bottom-right img{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 50%;
    right: 0;
}

.bottom-left {
    position: relative;
}

.bottom-left img {
    position: absolute;
    z-index: -1;
    width: 13%;
    bottom: 10%;
}

/* RESPONSIVE */
@media (min-width: 320px) {
    .navbar {
        display: none !important;
    }
    .m-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    .m-nav-bottom {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 1000;
    }

    .m-nav-bottom ul {
        margin-top: 1rem;
    }

    .m-nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .top-view {
        flex-direction: column;
        top: 50px;
    }
    .intro {
        padding: 10px;
        width: 100%;
    }

    .hero {
        top: 0;
    }

    .top-title h1 {
        font-size: 2rem !important;
    }

    .subtitle p {
        color: #f8f9fa;
    }

    .pic-girl, .left-bottom,
    .bottom-left {
        display: none;
    }

    #about {
        width: 90%;
        padding: 20px;
        flex-direction: column;
        position: relative;
        top: 200px;
    }

    .l-d, .r-d {
        width: 100%;
    }

    .l-d img {
        margin-bottom: 30px;
    }

    .middle-right img {
        width: 94%;
    }

    #works {
        position: relative;
        top: 140px;
        padding: 0 20px;
    }

    .sq-item {
        width: 100%;
        height: 100%;
    }

    #contact {
        position: relative;
        top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 50px;
    }

    #contact p {
        font-size: 15px;
        margin-bottom: 0.25rem;
    }

    #contact h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .bottom-right img {
        top: -115px;
    }

}

@media (min-width: 500px) {
    .intro {
        padding: 25px;
    }
    .pic-girl {
        display: block;
        width: 100%;
    }
    #about {
        top: 100px;
    }
    
}
@media (min-width: 700px) {
    .pic-girl img {
        width: 70%;
        position: relative;
        bottom: 100px;
        left: 200px;
    }

    .l-d img {
        width: 50%;
    }
    .sq-item {
        width: 45%;
        height: 45%;
    }

    .bottom-right img {
        top: auto;
    }
}
@media (min-width: 800px) {
    .subtitle p {
        color: #9F9F9F !important;
    }

    .top-view {
        flex-direction: row;
    }

    .l-d img {
        width: 40%;
    }

    .pic-girl img {
        width: 100%;
        bottom: 0;
        left: 0;
    }
}
@media (min-width: 1000px) {   
    .m-nav, .m-nav-bottom {
        display: none;
    }

    .navbar {
        display: flex !important;
    } 
    
    .top-view {
        top: 150px;
    }

    #about {
        top: 200px;
    }

    #contact > .email {
        font-size: 30px;
    }

    #contact {
        padding-bottom: 20px;
        top: 0;
    }
    
}
@media (min-width: 1440px) {
    nav {
        height: 60px;
        background-color: #fff;
    }

    
    .brand {
        padding: 10px 20px;
        transition: 0.3s;
    }
    
    .brand:hover {
        background: #FABB5A;
    }
    
    .link-animation {
        display: inline-block;
        position: relative;
        padding: 10px 30px;
        text-decoration: none !important;
    }
    
    .link-animation::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #FABB5A;
        transition: 0.3s;
        transform: scale(0, 1);
    }
    
    .link-animation:hover:before {
        transform: scale(1);
        translate: rgba(255,255,255,.75)
    }
    
    .hero {
        position: relative;
        top: 0;
    }
    
    .right-top {
        position: relative;
    }
    
    .right-top img{
        z-index: -1;
        position: absolute;
        right: 0;
        top: 0;
    }

    .left-bottom {
        display: block;
    }
    
    .left-bottom img {
        z-index: -1;
        position: relative;
        width: 15%;
    }
    
    .flex {
        display: flex;
    }
    
    .top-view {
        position: relative;
        top: 150px;
    }
    
    .pic-girl {
        width: 50%;
        z-index: 5;
    }
    
    .pic-girl img {
        width: 100%;
    }
    .intro {
        padding: 50px 10px 50px 90px;
        width: 50%;
        z-index: 5;
    }
    
    .top-title {
        margin-bottom: 20px;
    }
    
    .top-title h1 {
        font-size: 2.75rem !important;
    }
    
    .subtitle p {
        color: #9F9F9F;
        margin-bottom: 0 !important;
    }
    /* About */
    #about {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto 30px;
        padding: 80px;
        border-radius: 10px;
        justify-content: space-between;
        background: #fff;
        top: -50px;
    }
    
    .l-d {
        width: 35%;
    }
    
    .l-d img {
        width: 100%;
    }
    
    .r-d {
        width: 60%;
    }
    
    .middle-right {
        position: relative;
    }
    
    .middle-right img{
        z-index: -1;
        position: absolute;
        width: 50%;
        right: 0;
    }
    
    /* Works */
    #works {
        margin: 150px auto;
        padding: 0 50px;
        top: 0;
    }
    .title {
        text-align: center;
        margin: 20px 0;
    }
    
    .square-items {
        display: flex;
        flex-flow: row wrap;
    }
    .sq-item {
        width: 30%;
        height: 30%;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        margin: 1.6%;
    }
    
    .sq-item img {
        width: 100%;
    }
    
    .hover-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background: rgba(19, 47, 99, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20px 20px 20px;
    }
    
    .hover-mask:hover {
        opacity: 1;
        transition: all 0.6s ease;
        padding-top: 30px;
    }
    
    .hover-mask h3,
    .hover-mask p {
        color: #fff;
        align-self: center;
        margin-bottom: .5rem;
    }
    
    .hover-mask h3{
        font-size: 22px;
        margin-bottom: 1.5rem;
    }
    
    #contact {
        text-align: center;
        padding-bottom: 30px;
    }

    .sns a img{
        width: 50px;
        margin: 10px;
    }
    
    .bottom-right {
        position: relative;
    }
    .bottom-right img{
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 50%;
        right: 0;
    }
    
    .bottom-left {
        position: relative;
        display: block;
    }
    
    .bottom-left img {
        position: absolute;
        z-index: -1;
        width: 13%;
        bottom: 10%;
    }
    
}
@media (min-width: 1600px) {
    .top-view, #about, #works {
        max-width: 1440px;
        margin: 0 auto;
    }

    .middle-right {
        display: none;
    }

    .bottom-right img {
        width: 35%;
    }
}
@media (min-width: 1280px) {
    #about {
        flex-direction: row;
    }

    .l-d img {
        width: 85%;
    }
}
@media (min-width: 320px) {
    
}

@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, .r-d {
        font-size: 16px;
    }
}